@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Mvc.Localization

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Ky.Web.CMS</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link href="/css/app-build.css" rel="stylesheet" />
    <link href="/libs/flowbite/flowbite.min.css" rel="stylesheet" />
    @await RenderSectionAsync("Styles", false)
</head>

<body class="light">
    <nav class="bg-white border-gray-200 mt-2 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
        <div class="container flex flex-wrap items-center justify-between mx-auto">
            <a href="/" class="flex items-center">
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Ky.Web.CMS</span>
            </a>

            <div class="flex items-center gap-4 md:order-2">

            </div>
        </div>
    </nav>
    
    <main class="container mx-auto mb-10 px-5 md:p-0">
        @RenderBody()
    </main>

    <script src="/libs/flowbite/flowbite.min.js"></script>
    @await RenderSectionAsync("Scripts", false)
</body>
</html>