<nav class="bg-white border-gray-200 dark:border-gray-600 dark:bg-gray-900">
  <div class="flex flex-wrap items-center justify-between max-w-screen-xl p-4 mx-auto">
    <a href="/" class="flex items-center space-x-3 font-bold rtl:space-x-reverse">
      Tarumt.CC.Ecommerce
    </a>
    <div class="flex flex-row space-x-4 md:order-1">
      <button type="button" class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
        <span class="sr-only">Open user menu</span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-8 h-8 bg-white rounded-full bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
        </svg>
      </button>
    </div>
    <div id="mega-menu-full" class="items-center justify-between hidden w-full font-medium md:flex-row md:flex md:w-auto">
      <ul class="flex flex-col items-center p-4 mt-4 border border-gray-100 rounded-lg md:p-0 bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
      </ul>
    </div>
  </div>
  <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="user-dropdown">
    <span *ngIf="isAuthenticated">
      <div class="px-4 py-3">
        <p class="text-sm text-gray-900 dark:text-white" role="none">
          {{ user !== undefined ? user.profile.username : 'UNKNOWN USERNAME' }}
        </p>
        <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
          {{ user !== undefined ? user.email : 'UNKNOWN EMAIL' }}
        </p>
      </div>
      <ul class="py-2" aria-labelledby="user-menu-button">
        <li>
          <a routerLink="/settings/payment" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
            Payment
          </a>
        </li>
        <li>
          <a routerLink="/cart" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
            Cart
          </a>
        </li>
        <li>
          <a routerLink="/order" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
            Order
          </a>
        </li>
        <li>
          <a (click)="logout()" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
            Sign out
          </a>
        </li>
      </ul>
    </span>
    <span *ngIf="!isAuthenticated">
      <div class="px-4 py-3">
        <p class="text-sm text-gray-900 dark:text-white" role="none">
          Please sign in
        </p>
      </div>
      <ul class="py-2" aria-labelledby="user-menu-button">
        <li>
          <a (click)="login()" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
            Sign in
          </a>
        </li>
      </ul>
    </span>
  </div>
</nav>
