<footer class="m-4 bg-white rounded-lg shadow dark:bg-gray-800">
  <div class="w-full p-4 mx-auto md:flex md:items-center md:justify-between">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">About</a>
      </li>
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">User Guide</a>
      </li>
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Frequenctly Asked Question</a>
      </li>
    </ul>
  </div>
</footer>
